# Environment files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
teseapi/test/test_product_api.py
